:root{
    --background-color:;
    --secondary-color:;
    --acent-color:;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
}

section{
    width: 100%;
    min-height: 100vh;
}

.navigation-bar{
    width: 100%;
    height: 82px;
    background-color: red;
}

.logo{
    
}

