@font-face {
  font-family: "hkgrotesk";
  src: url("font/hkgrotesk-regular-webfont.ttf");
}

@font-face {
  font-family: "hkgrotesk-bold";
  src: url("font/hkgrotesk-bold-webfont.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-color: #fff;
  --secondary-color: #00c3ff;
  --accent-color: #ff0000;
  /* --fontFade-color: #212121; */
  --fontFade-color: #131b3a;
  --border-color: #00000022;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "hkgrotesk";
  font-family: "Karla", sans-serif;
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
}

button.btn {
  width: 170px;
  height: 50px;
  border-radius: 2rem;
  background-color: var(--accent-color);
  color: var(--background-color);
  font-size: 1.2rem;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

#main {
  width: 100%;
  min-height: 100vh;
}

section {
  width: 100%;
  /* min-height: 100vh; */
}

.navigation-bar {
  width: 100%;
  height: 100px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.logo {
  width: 12rem;
  height: 4rem;
}

.logo img {
  height: 100%;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  gap: 3rem;
}

.nav-main a {
  text-decoration: none;
  color: var(--fontFade-color);
  padding-bottom: 8px;
}

.nav-main a:hover {
  border-bottom: 2px solid var(--secondary-color);
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.btn-container i {
  padding: 5px;
  font-size: 2rem;
}
.btn-container i:nth-child(2) {
  display: none;
  margin-left: 20px;
}

.hero {
  width: 100%;
  height: 51vw;
  background: url("Asset/c72af10b.mp4");
  background-size: cover;
  background-position: 0% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 10vh;
}

.hero video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.book-service-btn {
  z-index: 1;
  transition: all 0.3s;
}

.book-service-btn:hover {
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--background-color);
}

.feature-txt {
  font-size: 5rem;
  color: var(--background-color);
  text-shadow: 0px 0px 1px #000;
  z-index: 1;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* <------------------ABOUT US SECTION----------------> */

.about-us {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 3rem 0; */
  background-color: #21212108;
}

.about-pic-container {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.img1 {
  background: url("Asset/services/house-cleaning-service-min-1600x1068.jpg");
  background-position: 20%;
  background-size: cover;
  width: 500px;
  height: 550px;
  border-radius: 0.5rem;
}

.small-images-container {
  position: relative;
  height: 120px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.small-images {
  width: calc(480px / 3);
  height: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
}

.small-images-1 {
  background: url("Asset/services/man-servant-cleaning-house.jpg");
  background-size: cover;
  background-position: 0px 30%;
}

.small-images-2 {
  background: url("Asset/services/pexels-karolina-grabowska-4239125.jpg");
  background-size: cover;
  background-position: 0px 30%;
}

.small-images-3 {
  background: url("Asset/services/service\ img\ showcase\ 2.jpg");
  background-size: cover;
}

.about-info {
  width: 50%;
  height: 100%;
  padding: 0 3rem 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.about-info h4 {
  margin-bottom: 3rem;
  font-weight: 700;
  color: var(--fontFade-color);
  letter-spacing: 0.2rem;
}

.about-info h1 {
  font-size: 5vw;
  margin-bottom: 3rem;
  line-height: 5vw;
  color: var(--fontFade-color);
}

.about-info p {
  margin-bottom: 4rem;
  font-weight: 100;
  color: var(--fontFade-color);
  line-height: 1.3rem;
}

.book-service-btn {
  z-index: 1;
  transition: all 0.3s;
}

.about-us-btn:hover {
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

/* <----------SERVICES SECTION--------------> */

.service-section {
  background-color: var(--background-color);
  opacity: 1;
  min-height: 100vh;
  padding: 4rem 3rem;
  margin-bottom: 3rem;
  /* background-color: #21212108; */
}

.service-section h1 {
  font-weight: 100;
  font-size: 6vh;
  text-align: center;
  margin-top: 0.8rem;
  color: #333;
  margin: 3rem 0;
  position: relative;
}

.service-section h1::after {
  content: "";
  width: 200px;
  height: 3px;
  background-color: red;
  position: absolute;
  bottom: -30px;
  right: 50%;
  transform: translateX(-50%);
}

.service-container {
  width: 100%;
  padding: 3rem 1rem 0 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services {
  width: 280px;
  height: 200px;
  padding: 0 3rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.services img {
  height: 70%;
  margin-bottom: 1rem;
  border: 1px solid var(--border-color);
  padding: 10px 40px;
  border-radius: 1rem;
  cursor: pointer;
}

.services h4 {
  font-weight: 100;
  font-size: 1.2rem;
}

.showcase {
  width: 100%;
  height: 85vh;
}

.show-background {
  width: 100%;
  height: 85vh;
  background-image: url("Asset/services/image-10-copyright.jpg");
  background-position: 60%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 4rem;
  gap: 2rem;
  position: relative;
}

.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #0000004f;
}

.show-background h4 {
  color: #fff;
  font-size: 1rem;
  z-index: 1;
}
.show-background h1 {
  color: #fff;
  font-size: 4rem;
  z-index: 1;
}

.about-us-btn {
  z-index: 1;
}

.contact {
  width: 100%;
  min-height: 50vh;
  /* background-color: yellow; */
  display: flex;

  padding: 5rem 0rem;
}

.contact-info {
  width: 50%;
  height: 100%;
  padding: 0 0 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contact-info h4 {
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: var(--fontFade-color);
  letter-spacing: 0.2rem;
}

.contact-info h1 {
  font-size: 5vw;
  margin-bottom: 3rem;
  line-height: 5vw;
  color: var(--fontFade-color);
}

.contact-info p {
  margin-bottom: 4rem;
  font-weight: 100;
  color: var(--fontFade-color);
  line-height: 1.3rem;
}

.book-service-btn {
  z-index: 1;
  transition: all 0.3s;
}

.about-us-btn:hover {
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.contact-form {
  width: 50%;
  height: 100%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.contact-form form .input {
  width: 85%;
  height: 60px;
  border: none;
  border-bottom: 1px solid var(--border-color);
  outline: none;
  font-size: 1rem;
  color: #212121;
  background-color: var(--border-color);
  border-radius: 1rem;
  padding: 2rem;
}

.contact-form form .textarea {
  width: 85%;
  height: 200px;
  border: none;
  border-bottom: 1px solid var(--border-color);
  outline: none;
  font-size: 1rem;
  color: #212121;
  background-color: var(--border-color);
  border-radius: 1rem;
  padding: 2rem;
}
.submit-btn {
  transition: all 0.3s;
}
.submit-btn:hover {
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

footer {
  width: 100%;
  height: 40vh;
  background-color: var(--fontFade-color);
  padding: 3rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.logo2 {
  width: 200px;
  height: 60px;
  margin-left: 3rem;
}
.logo2 img {
  height: 100%;
}
.footer-content {
  width: 60%;
  padding: 0 4rem 0 0;
}

.footer-content h1 {
  color: var(--background-color);
  font-size: 3rem;
}
.footer-menu {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--secondary-color);
  margin-top: 5rem;
  padding-right: 5rem;
}

.col-1 {
  display: flex;
  gap: 1rem;
}

.col-1 a {
  text-decoration: none;
  color: var(--secondary-color);
}

.col-1 h3 {
  padding-bottom: 0.5rem;
}

.col-1 h3:hover {
  border-bottom: 2px solid var(--secondary-color);
}

.col-2 h4 {
  margin-bottom: 1vh;
}

/* ------------------------------ABOUT_US PAGE-------------------------------- */

.about-section-pg {
  width: 100%;
  padding-bottom: 3rem;
}

.heading {
  width: 100%;
  text-align: center;
  color: var(--fontFade-color);
  padding: 5rem;
}

.heading h1 {
  font-size: 4rem;
}

.heading i {
  margin-top: 1rem;
  font-size: 2rem;
}

.about-section-pg-content {
  width: 100%;
  height: 70vh;
  display: flex;
}

.about-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-right {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 6rem;
  color: var(--fontFade-color);
}

.about-right h4 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.about-right h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
  line-height: 3.5rem;
}

.bullet {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

.our-process {
  width: 100%;
  min-height: 100vh;
  background-color: #21212108;
}

.process-section-pg-content {
  width: 100%;
  height: 70vh;
  display: flex;
  padding: 3rem 0 0 0;
  color: var(--fontFade-color);
}

.process-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem 5rem;
}

.process-left h4 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.process-left h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
  line-height: 3.5rem;
}

.process-right {
  width: 50%;
  height: 100%;
  padding: 0 3rem;
}

.steps {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.steps-img {
  width: 60px;
  height: 60px;
  /* background-color: yellow; */
  border-radius: 50%;
}

.steps-img img {
  height: 100%;
}

.steps-info h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.process-steps {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fontFade-color);
}

.process-steps-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step1-img {
  background-image: url(Asset/services/Home\ cleaning\ service\,\ business.jpeg);
  background-size: cover;
  width: 80%;
  height: 60%;
  border-radius: 1rem;
}
.step2-img {
  background-image: url(Asset/services/man-servant-cleaning-house.jpg);
  width: 80%;
  height: 60%;
  border-radius: 1rem;
  background-size: cover;
  background-position: 20% 30% ;
}
.step3-img {
  background-image: url(Asset/services/image-18-copyright-qi0n0amuwyy3ijvay0qjj1ustddgbkvdwn7og4yzqg.jpg);
  width: 80%;
  height: 60%;
  border-radius: 1rem;
  background-size: cover;
  
  background-position: 50%;
}

.process-steps-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 5rem;
}

.process-steps-right h4 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.process-steps-right h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
  line-height: 3.5rem;
}

.step-2 {
  flex-direction: row-reverse;
}

/* -------------------TABLET-------------------- */

@media (max-width: 1030px) {
  .navigation-bar {
    padding: 0 3rem;
  }

  .logo {
    width: 10rem;
    height: 3rem;
  }

  .hero {
    height: 45rem;
    padding: 6vh;
  }
  .feature-txt {
    font-size: 3.3rem;
  }
  .about-us {
    height: 60vh;
  }

  .img1 {
    width: 450px;
    height: 550px;
    background-position: 30%;
  }

  .small-images {
    width: calc(440px / 3);
    height: 100%;
    border-radius: 0.5rem;
  }

  .small-images-container {
    width: 450px;
  }

  .service-section {
    padding: 4rem 0rem;
    min-height: 70vh;
  }
  .service-container {
    padding: 2rem 0;
  }
  .service-section h1 {
    font-size: 5.5vh;
  }

  .nav-main {
    display: none;
  }

  .btn-container i:nth-child(2) {
    display: inline-block;
  }

  .about-info {
    padding: 0 2rem;
  }

  .about-us {
    min-height: 50vh;
  }
  .showcase {
    width: 100%;
    height: 45vh;
  }
  .show-background {
    height: 45vh;
    background-position: 60%;
  }
  .show-background h1 {
    color: #fff;
    font-size: 2.8rem;
    z-index: 1;
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contact-info {
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }
  .contact-form form .input {
    width: 85%;
  }
  .contact-form form .textarea {
    width: 85%;
  }
  footer {
    width: 100%;
    height: 30vh;
    padding: 2rem;
  }
  .footer-content {
    width: 66%;
  }
  .heading{
    padding: 3rem 0 0 0;
  }
  .about-section-pg-content {
    height: 50vh;
}
.about-right {
  padding: 0 3rem;
}
.about-right h1 {
  font-size: 3rem;
  line-height: 3rem;
}
.our-process {
  min-height: 50vh;
}
.process-section-pg-content {
  height: 55vh;
}
.process-left {
  padding: 2rem 0 0 3rem;
}
.process-left h1 {
  font-size: 3rem;
}
.steps {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.steps-info h1 {
  font-size: 2rem;
}

.process-steps {
  height: 40vh;
}
.process-steps-right h1 {
  font-size: 3rem;
}
}

@media (max-width: 900px) {
  .navigation-bar {
    height: 60px;
  }
  .img1 {
    width: 330px;
    height: 450px;
    background-position: 30%;
  }
  .about-info h4 {
    margin-bottom: 1.5rem;
  }
  .about-info h1 {
    margin-bottom: 1.5rem;
  }
  .about-info p {
    margin-bottom: 2rem;
  }
  .services {
    width: 200px;
    height: 200px;
    padding: 0 1rem;
  }
  .contact-info {
    padding: 0 0 0 3rem;
  }
  .contact-info h4 {
    margin-bottom: 1rem;
    font-size: 0.7rem;
  }
  .contact-info h1 {
    font-size: 4vw;
    margin-bottom: 1.5rem;
  }
  .contact-info p {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
  .contact-info {
    padding: 0 0 0 4rem;
  }
  .logo2 {
    height: 40px;
    margin-left: 1rem;
  }
  .footer-content h1 {
    font-size: 2rem;
  }
  .footer-menu {
    margin-top: 3rem;
    padding-right: 0rem;
  }
  .col-1 {
    gap: 0.5rem;
    flex-direction: column;
  }
  .heading h1 {
    font-size: 3rem;
}
.about-right {
  padding: 0 1rem;
}
.about-right h1 {
  font-size: 2rem;
  line-height: 2rem;
}
.about-right h4 {
  font-size: 0.8rem;
}
.process-left h1 {
  font-size: 2rem;
  line-height: 2rem;
}
.steps-info p {
  font-size: 0.8rem;
}
.steps-img {
  width: 50px;
  height: 50px;
}
.process-steps-right {
  padding: 2rem ;
}
.process-steps-right h1 {
  font-size: 2rem;
  line-height: 2rem;
}
}

/* ----------------PHONE----------------------- */

@media (max-width: 450px) {
  .logo {
    width: 10rem;
    height: 1.7rem;
  }
  .navigation-bar {
    padding: 0 1rem;
    height: 50px;
  }

  .btn-container i {
    padding: 1px;
    font-size: 1.3rem;
  }
  .btn-container i:nth-child(2) {
    margin-left: 10px;
  }

  .hero {
    height: 22rem;
  }

  .hero {
    padding: 2.5vh;
  }

  .feature-txt {
    font-size: 1.5rem;
  }

  button.btn {
    width: 100px;
    height: 30px;
    font-size: 0.8rem;
  }

  .img1 {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  .about-us {
    flex-direction: column-reverse;
    min-height: 30rem;
    justify-content: center;
  }
  .about-pic-container {
    width: 100%;
    justify-content: start;
    height: 60%;
  }

  .about-info {
    width: 100%;
  }
  .about-info h4 {
    margin-bottom: 1.2rem;
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
  }

  .about-info h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    line-height: 1.9rem;
  }
  .about-info p {
    margin-bottom: 1rem;
    font-size: 0.65rem;
    line-height: 0.8rem;
  }
  .service-section {
    padding: 1rem 0;
    margin: 1rem 0 0 0;
    min-height: 63vh;
  }
  .service-section h1 {
    font-size: 4vh;
    margin: 0;
  }
  .service-section h1::after {
    width: 100px;
    height: 2px;
    bottom: -10px;
    left: 50%;
  }
  .services {
    width: 90px;
    height: 100px;
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
  }
  .services h4 {
    font-weight: 100;
    font-size: 0.8rem;
  }
  .services img {
    padding: 10px 20px;
  }
  .show-background {
    height: 40vh;
    background-image: url("Asset/services/image-10-copyright.jpg");
    background-position: 60%;
    padding: 1rem;
    gap: 1rem;
  }
  .show-background h4 {
    font-size: 0.7rem;
    font-weight: 700;
  }
  .show-background h1 {
    font-size: 1.5rem;
  }
  .contact {
    min-height: 50vh;
    padding: 1rem 0rem;
  }
  .contact-form form {
    gap: 1rem;
  }
  .contact-form form .input {
    height: 40px;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
  }
  .contact-form form .textarea {
    padding: 1rem;
    font-size: 0.7rem;
    height: 100px;
  }
  .contact-info h4 {
    margin-bottom: 0.8rem;
    letter-spacing: 0.1rem;
    font-size: 0.6rem;
  }
  .contact-info {
    padding: 0 2rem;
  }
  .contact-info h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  footer {
    height: 25vh;
    padding: 1rem;
  }
  .logo2 {
    height: 25px;
    margin-left: 0rem;
  }
  .footer-content h1 {
    font-size: 1.2rem;
  }
  .footer-content {
    padding: 0;
    width: 80%;
  }
  .footer-menu {
    margin-top: 1rem;
  }

  .col-1 h3 {
    font-size: 0.9rem;
  }
  .col-2 h3 {
    font-size: 0.7rem;
  }
  .col-2 h4 {
    font-size: 0.7rem;
  }
  .col-1 {
    gap: 0;
  }
  .about-section-pg-content {
    flex-direction: column-reverse;
    gap: 3rem;
}
.process-section-pg-content {
  padding: 0;
}
.about-left {
  width: 100%;
}
.about-right {
  width: 100%;
}
.process-section-pg-content {
  display: flex;
  flex-direction: column;
}
.process-left {
  width: 100%;
  padding: 2rem;
}
.process-right {
  width: 100%;
}
.steps {
  height: 10vh;
}
.steps-info h1 {
  font-size: 1.5rem;
}
.steps-info p {
  font-size: 0.6rem;
}
}
