@font-face {
  font-family: "hkgrotesk";
  src: url("font/hkgrotesk-regular-webfont.ttf");
}

@font-face {
  font-family: "hkgrotesk-bold";
  src: url("font/hkgrotesk-bold-webfont.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-color: #fff;
  --secondary-color: #00c3ff;
  --accent-color: #ff0000;
  /* --fontFade-color: #212121; */
  --fontFade-color: #131b3a;
  --border-color: #00000022;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "hkgrotesk";
  font-family: "Karla", sans-serif;
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
}

button.btn {
  width: 170px;
  height: 50px;
  border-radius: 2rem;
  background-color: var(--accent-color);
  color: var(--background-color);
  font-size: 1.2rem;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  z-index: 1;
}

body {
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

#main {
  width: 100%;
  min-height: 100vh;
}

section {
  width: 100%;
  /* min-height: 100vh; */
}

.navigation-bar {
  width: 100%;
  height: 100px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.logo {
  width: 12rem;
  height: 4rem;
}

.logo img {
  height: 100%;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  gap: 3rem;
}

.nav-main a {
  text-decoration: none;
  color: var(--fontFade-color);
  padding-bottom: 8px;
}

.nav-main a:hover {
  border-bottom: 2px solid var(--secondary-color);
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.btn-container i {
  padding: 5px;
  font-size: 2rem;
}
.btn-container i:nth-child(2) {
  display: none;
  margin-left: 20px;
}

.hero {
  width: 100%;
  height: 51vw;
  background: url("Asset/c72af10b.mp4");
  background-size: cover;
  background-position: 0% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 10vh;
}

.hero video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.book-service-btn {
  z-index: 1;
  transition: all 0.3s;
  width: 170px;
  height: 50px;
  border-radius: 2rem;
  background-color: var(--accent-color);
  color: var(--background-color);
  font-size: 1.2rem;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
}

.book-service-btn:hover {
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.feature-txt {
  font-size: 5rem;
  color: var(--background-color);
  text-shadow: 0px 0px 1px #000;
  z-index: 1;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* <------------------ABOUT US SECTION----------------> */

.about-us {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 3rem 0; */
  background-color: #21212108;
}

.about-pic-container {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.img1 {
  background: url("Asset/services/house-cleaning-service-min-1600x1068.jpg");
  background-position: 20%;
  background-size: cover;
  width: 500px;
  height: 550px;
  border-radius: 0.5rem;
}

.small-images-container {
  position: relative;
  height: 120px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.small-images {
  width: calc(480px / 3);
  height: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
}

.small-images-1 {
  background: url("Asset/services/man-servant-cleaning-house.jpg");
  background-size: cover;
  background-position: 0px 30%;
}

.small-images-2 {
  background: url("Asset/services/pexels-karolina-grabowska-4239125.jpg");
  background-size: cover;
  background-position: 0px 30%;
}

.small-images-3 {
  background: url("Asset/services/service\ img\ showcase\ 2.jpg");
  background-size: cover;
}

.about-info {
  width: 50%;
  height: 100%;
  padding: 0 3rem 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.about-info h4 {
  margin-bottom: 3rem;
  font-weight: 700;
  color: var(--fontFade-color);
  letter-spacing: 0.2rem;
}

.about-info h1 {
  font-size: 5vw;
  margin-bottom: 3rem;
  line-height: 5vw;
  color: var(--fontFade-color);
}

.about-info p {
  margin-bottom: 4rem;
  font-weight: 100;
  color: var(--fontFade-color);
  line-height: 1.3rem;
}

.about-us-btn:hover {
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

/* <----------SERVICES SECTION--------------> */

.service-section {
  background-color: var(--background-color);
  opacity: 1;
  min-height: 100vh;
  padding: 4rem 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-section h1 {
  font-weight: 100;
  font-size: 6vh;
  text-align: center;
  margin-top: 0.8rem;
  color: #333;
  margin: 3rem 0;
  position: relative;
}

.service-section h1::after {
  content: "";
  width: 200px;
  height: 3px;
  background-color: red;
  position: absolute;
  bottom: -30px;
  right: 50%;
  transform: translateX(-50%);
}

.service-container {
  width: 100%;
  padding: 3rem 1rem 0 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services {
  width: 280px;
  height: 200px;
  padding: 0 3rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.services img {
  height: 70%;
  margin-bottom: 1rem;
  border: 1px solid var(--border-color);
  padding: 10px 40px;
  border-radius: 1rem;
  cursor: pointer;
}

.services h4 {
  font-weight: 100;
  font-size: 1.2rem;
}
.service-btn {
  margin-top: 3rem;
  width: 170px;
  height: 50px;
  border-radius: 2rem;
  background-color: var(--accent-color);
  color: var(--background-color);
  font-size: 1.2rem;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
}

.service-btn:hover {
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.showcase {
  width: 100%;
  height: 85vh;
}

.show-background {
  width: 100%;
  height: 85vh;
  background-image: url("Asset/services/image-10-copyright.jpg");
  background-position: 60%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 4rem;
  gap: 2rem;
  position: relative;
}

.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #0000004f;
}

.show-background h4 {
  color: #fff;
  font-size: 1rem;
  z-index: 1;
}
.show-background h1 {
  color: #fff;
  font-size: 4rem;
  z-index: 1;
}

.about-us-btn {
  z-index: 1;
}

.contact {
  width: 100%;
  min-height: 50vh;
  background-color: #21212108;
  display: flex;

  padding: 5rem 0rem;
}

.contact-info {
  width: 50%;
  height: 100%;
  padding: 0 0 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contact-info h4 {
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: var(--fontFade-color);
  letter-spacing: 0.2rem;
}

.contact-info h1 {
  font-size: 5vw;
  margin-bottom: 3rem;
  line-height: 5vw;
  color: var(--fontFade-color);
}

.contact-info p {
  margin-bottom: 4rem;
  font-weight: 100;
  color: var(--fontFade-color);
  line-height: 1.3rem;
}

.book-service-btn {
  z-index: 1;
  transition: all 0.3s;
}

.about-us-btn:hover {
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.contact-form {
  width: 50%;
  height: 100%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.contact-form form .input {
  width: 85%;
  height: 60px;
  border: none;
  border-bottom: 1px solid var(--border-color);
  outline: none;
  font-size: 1rem;
  color: #212121;
  background-color: var(--border-color);
  border-radius: 1rem;
  padding: 2rem;
}

.contact-form form .textarea {
  width: 85%;
  height: 200px;
  border: none;
  border-bottom: 1px solid var(--border-color);
  outline: none;
  font-size: 1rem;
  color: #212121;
  background-color: var(--border-color);
  border-radius: 1rem;
  padding: 2rem;
}
.submit-btn {
  transition: all 0.3s;
}
.submit-btn:hover {
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

footer {
  width: 100%;
  height: 40vh;
  background-color: var(--fontFade-color);
  padding: 3rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.logo2 {
  width: 200px;
  height: 60px;
  margin-left: 3rem;
}
.logo2 img {
  height: 100%;
}
.footer-content {
  width: 60%;
  padding: 0 4rem 0 0;
}

.footer-content h1 {
  color: var(--background-color);
  font-size: 3rem;
}
.footer-menu {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--secondary-color);
  margin-top: 5rem;
  padding-right: 5rem;
}

.col-1 {
  display: flex;
  gap: 1rem;
}

.col-1 a {
  text-decoration: none;
  color: var(--secondary-color);
}

.col-1 h3 {
  padding-bottom: 0.5rem;
}

.col-1 h3:hover {
  border-bottom: 2px solid var(--secondary-color);
}

.col-2 h4 {
  margin-bottom: 1vh;
}

/* ------------------------------ABOUT_US PAGE-------------------------------- */

.about-section-pg {
  width: 100%;
  padding-bottom: 3rem;
}

.heading {
  width: 100%;
  text-align: center;
  color: var(--fontFade-color);
  padding: 5rem;
}

.heading h1 {
  font-size: 4rem;
}

.heading i {
  margin-top: 1rem;
  font-size: 2rem;
}

.about-section-pg-content {
  width: 100%;
  height: 70vh;
  display: flex;
}

.about-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img {
  background: url("Asset/services/Free\ Photo\ _\ Smiling\ woman\ cleaning\ glassware\ of\ cafeteria.jpeg");
  background-position: 20%;
  background-size: cover;
  width: 500px;
  height: 550px;
  border-radius: 0.5rem;
}

.about-right {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 6rem;
  color: var(--fontFade-color);
}

.about-right h4 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.about-right h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
  line-height: 3.5rem;
}

.bullet {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

.our-process {
  width: 100%;
  min-height: 100vh;
  background-color: #21212108;
}

.process-section-pg-content {
  width: 100%;
  height: 70vh;
  display: flex;
  padding: 3rem 0 0 0;
  color: var(--fontFade-color);
}

.process-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem 5rem;
}

.process-left h4 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.process-left h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
  line-height: 3.5rem;
}

.process-right {
  width: 50%;
  height: 100%;
  padding: 0 3rem;
}

.steps {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.steps-img {
  width: 60px;
  height: 60px;
  /* background-color: yellow; */
  border-radius: 50%;
}

.steps-img img {
  height: 100%;
}

.steps-info h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.process-steps {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fontFade-color);
}

.process-steps-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step1-img {
  background-image: url(Asset/services/Home\ cleaning\ service\,\ business.jpeg);
  background-size: cover;
  width: 80%;
  height: 60%;
  border-radius: 1rem;
}
.step2-img {
  background-image: url(Asset/services/man-servant-cleaning-house.jpg);
  width: 80%;
  height: 60%;
  border-radius: 1rem;
  background-size: cover;
  background-position: 20% 30%;
}
.step3-img {
  background-image: url(Asset/services/image-18-copyright-qi0n0amuwyy3ijvay0qjj1ustddgbkvdwn7og4yzqg.jpg);
  width: 80%;
  height: 60%;
  border-radius: 1rem;
  background-size: cover;

  background-position: 50%;
}

.process-steps-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 5rem;
}

.process-steps-right h4 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.process-steps-right h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
  line-height: 3.5rem;
}

.step-2 {
  flex-direction: row-reverse;
  background-color: #21212108;
}

/* --------------------Service-pg---------------------- */

.service-pg {
  width: 100%;
}

.service-heading {
  padding-bottom: 2rem;
}

.intro {
  padding: 0 10rem;
  text-align: center;
  font-size: 1.2rem;
}

.service {
  width: 100%;
  min-height: 50vh;
  padding: 5rem;
}

.service:nth-child(2n) {
  padding: 0 5rem;
}

.service:nth-child(6) {
  padding: 0 5rem 5rem 5rem;
}

.service-content {
  width: 100%;
  height: 100%;
  border: 2px solid var(--fontFade-color);
  padding: 5rem;
}

.service-content:nth-child(2) {
  background-color: #21212108;
}

.service-content h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.service-content p {
  font-size: 1.2rem;
}

.service-btn-container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* --------------------CART-------------------------- */

.booking-form {
  width: 100%;
  padding: 2rem 12rem;
  background-color: #00000008;
}
.title h4{
  font-size: 1.5rem;
  padding:0 0 1rem 1rem;
}
.booking-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
.booking-right{
  width: 60%;
  min-height: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  border: 1px solid #2121211d;
  padding:2rem 2rem;
}
.details{
  width: 100%;
  min-height: 10vh;
}
.details:nth-child(1){
  margin-bottom: 2rem;
}
.question{
  margin-top: 2rem;
  font-size: 1.2rem;
}
.select-box{
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--fontFade-color);
}
.selector{
  width: 40px;
  height: 40px;
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}
.selector.active{
  background-color: #00c3ff5d;
  border: 1px solid #00c3ff;
  color: #00c3ff;
}
.service-selector{
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 0.5rem;
}
.add-on-selector{
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 0.5rem;
}
.add-on-selector.active{
  background-color: #00c3ff5d;
  border: 1px solid #00c3ff;
  color: #00c3ff;
}
.frequency-selector{
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 0.5rem;
}
.frequency-selector.active{
  background-color: #00c3ff5d;
  border: 1px solid #00c3ff;
  color: #00c3ff;
}
.service-selector.active{
  background-color: #00c3ff5d;
  border: 1px solid #00c3ff;
  color: #00c3ff;
}
.note{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  background-color: #33333324;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.time-selector{
  cursor: pointer;
  border: 1px solid #000;
  padding: 7px;
  font-size: 0.8rem;
  border-radius: 0.5rem;
}
.time-selector.active{
  background-color: #00c3ff5d;
  border: 1px solid #00c3ff;
  color: #00c3ff;
}
.row2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row2 input{
  width: 48%;
  height: 40px;
  margin-top: 1rem;
  padding: 5px 10px;
  background-color: #21212108;
  border: 1px solid var(--fontFade-color);
  border-radius: 0.5rem;
}
.row1 input{
  border: 1px solid var(--fontFade-color);
  width: 100%;
  margin-top: 1rem;
  height: 40px;
  padding: 5px 10px;
  background-color: #21212108;
  border-radius: 0.5rem;
}
.save-btn{
  width: 100%;
  height: 40px;
  margin-top: 1rem;
  background-color: var(--accent-color);
  border: 1px soild var(--accent-color);
  border-radius: 0.5rem;
  color: var(--background-color);
  font-weight: 700;
  font-size: 1.2rem;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
} 
.save-btn:hover{
  background-color: transparent;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  font-weight: 300;
}
.date-selector{
  border: 1px solid var(--fontFade-color);
  width: 80%;
  margin-top: 1rem;
  height: 40px;
  padding: 5px 10px;
  background-color: #21212108;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}
.booking-left{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.booking-info{
  width: 100%;
  min-height: 400px;
  background-color: rgb(255, 255, 255); 
  border-radius: 1rem;
  border: 1px solid #2121211d;
  padding: 1rem ;
}
.info-container{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #2121217a;
}
.title-info{
  margin-bottom: 1rem;
}
.address{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 1rem;
}
.address-right{
  flex-basis: 60%;
}
.address-right{
  padding-left: 1rem;
  flex-basis: 40%;
}
.price{
  width: 100%;
  min-height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  border: 1px solid #2121211d;
  padding: 1rem;
}
.pricing-info{
  width: 100%;
  background-color: rgb(255, 255, 255); 
  display: flex;
  flex-direction: column;
  gap: 1rem;
}